name: Mirror Repository

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  mirror:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Push to Codeberg
        run: |
          git remote add codeberg https://kanewang:${{ secrets.CODEBERG_TOKEN }}@codeberg.org/kanewang/takumi.git
          git push --mirror codeberg
